<%include partials/header%>
<div class="ui main text container segment">
	<div class="ui huge header">New Blogs Page</div>

<form class="ui form" method="post" action="/blogs">
	<div class="field">
		<label>Title</label>
		<input type="text" name="blog[title]" placeholder="title">
	</div>
	<div class="field">
		<label>Image</label>
	<input type="text" name="blog[image]" placeholder="image">
	</div>
	<div class="field">
		<label>Blog content</label>
		<textarea  name="blog[body]"></textarea>

	<button type="submit" class="ui animated blue big button" tabindex="0">
  		<div class="visible content">Submit</div>
 		 <div class="hidden content">
    		<i class="right  arrow icon"></i>
  		</div>
	</button>
	</div>
	
	
	
</form>
</div>
<%include partials/footer%>
